<div  *ngIf="options.length>0">
    <h2>Add {{chargeType}} for {{afm}}</h2>
    <form class="save-form" [formGroup]="saveForm">
        <div class= "kaek_div">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Kaek*" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
                  <a mat-list-item routerLink='/pages/farm/create'><mat-icon>add_box</mat-icon></a>
                </mat-autocomplete>
              </mat-form-field>
        </div>
        <p>
            <mat-form-field>
                <mat-label>Date</mat-label>
                <input matInput type="date" value="" formControlName="chargeDate" required>
                <mat-error *ngIf="f.chargeDate.errors">Date is <strong>required</strong></mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>amount</mat-label>
                <input matInput type="text" placeholder="Amount*" value="" formControlName="amount" required>
                <mat-error *ngIf="f.amount.errors">amount is <strong>required</strong></mat-error>
            </mat-form-field>
        </p>
        <div class="submit-wrapper">
            <button mat-flat-button color="accent" (click)="onSave()">
                <mat-spinner *ngIf="saving"></mat-spinner>
                Save
            </button>
        </div>
    </form>
</div>
