 <h2>View Charges for kaek    {{kaek}}</h2>
 <h3>List of Fixed Charge</h3>
<div *ngIf="chargesFixed.length > 0">
  <table mat-table [dataSource]="chargesFixed" class="mat-elevation-z8">
    <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef><b> No</b> </th>
        <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="kaek">
        <th mat-header-cell *matHeaderCellDef> <b>kaek</b> </th>
        <td mat-cell *matCellDef="let element"> {{element.afm}} </td>
    </ng-container>
    <ng-container matColumnDef="chargeDate">
      <th mat-header-cell *matHeaderCellDef> <b>chargeDate</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.chargeDate}} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef><b> amount</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<h3>List Consumption Charge</h3>
<div *ngIf="chargesConsumption.length > 0">
    <table mat-table [dataSource]="chargesConsumption" class="mat-elevation-z8">
      <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef><b> No</b></th>
          <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
      </ng-container>
      <ng-container matColumnDef="kaek">
          <th mat-header-cell *matHeaderCellDef><b>kaek</b></th>
          <td mat-cell *matCellDef="let element"> {{element.kaek}} </td>
      </ng-container>
      <ng-container matColumnDef="chargeDate">
        <th mat-header-cell *matHeaderCellDef>  <b>chargeDate</b> </th>
        <td mat-cell *matCellDef="let element"> {{element.chargeDate}} </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef><b> amount</b></th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
  
    